<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1,h2,p {
    position: relative;
    left:20px;
}
body{
    background-color: #BBDDFF;
}
</style>
<meta charset="utf-8">
<title>Assessment Topics</title>
</head>

<h1>Assessment Topics</h1>
<h2>Please choose a topic:</h2>
<br>
<body>
{% if topics_list %}
    <ul>
    {% for topic in topics_list %}
        <li><a href="{% url 'lessons' topic.id %}">{{ topic.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No topics are available.</p>
{% endif %}
</body>
<br>

</html>
