<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1,h2,p {
    position: relative;
    left:20px;
}
body{
    background-color: #BBDDFF;
}
</style>
<meta charset="utf-8">
<title>Topic Lessons</title>
</head>

{% if lessons_list %}
<h1>{{ topic.name }} Lessons</h1>
{% endif %}
<h2>Please choose a lesson to be tested on:</h2>
<br>
<body>
{% if lessons_list %}
    <ul>
    {% for lesson in lessons_list %}
        <li><a href="{% url 'testlist' lesson.id %}">{{ lesson.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lessons are available.</p>
{% endif %}
<br>
<a href="{% url 'index' %}">Go Back to Topics</a>
</body>
<br>

</html>
