<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1,h2,p {
    position: relative;
    left:20px;
}
</style>
<meta charset="utf-8">
<title>Assessment Test Questions</title>
</head>

{% if questions_list %}
<h1>{{ test_name }}</h1>
<iframe src={{ content_payload.payload }} width="1800" height="500" style="border:none"></iframe>
<br>
{% else %}
<p>No content</p>
<br>
{% endif %}
<h2>Please answer the questions below:</h2>
<br>
<body>
<form action="{% url 'testresult' test_id test_user %}" method="post">
{% csrf_token %}
{% if questions_list %}
    <ul>
    {% for question in questions_list %}
        <li>{{ question.text }}</li>
            <ol>
                {% for answer in question.answer_set.all %}
                    <input type="radio" name="answer" id="choice{{ forloop.counter }}" value="{{answer.id}}" />
                    <label for="choice{{ forloop.counter }}">{{ answer.text}}</label><br />
                {% endfor %}    
            </ol>
        <br>    
    {% endfor %}
    </ul>
    <input type="submit" value="Submit" />
{% else %}
    <p>No tests are available.</p>
{% endif %}
</body>
<br>

</html>
