<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1,h2,p {
    position: relative;
    left:20px;
}
body{
    background-color: #BBDDFF;
}
</style>
<meta charset="utf-8">
<title>Assessment Test List</title>
</head>

{% if content_payload %}
<h1>{{ content_payload.name }} Tests</h1>
{% endif %}

{% if content_payload %}
<p>{{ content_payload.payload }}</p>
<iframe src={{ content_payload.payload }} width="1800" height="500" style="border:none"></iframe>
{% else %}
<p>No content</p>
{% endif %}
<h2>Please choose a test from below:</h2>
<br>
<body>
{% if tests_list %}
    <ul>
    {% for test in tests_list %}
        <li><a href="{% url 'testdetail' test.id %}">{{ test.name }} for {{test.test_user}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tests are available.</p>
{% endif %}
<br>
<a href="{% url 'index' %}">Go Back to Topics</a>
</body>
<br>

</html>
