<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1,h2,p {
    position: relative;
    left:20px;
}
body{
    background-color: #BBDDFF;
}
.errorlist {
    color: red;
}
</style>
<meta charset="utf-8">
<title>Assessment Test Questions</title>
</head>

{% if content_payload %}
<h1>{{ test_name }}</h1>
<iframe src={{ content_payload.payload }} width="1800" height="500" style="border:none"></iframe>
<br>
{% else %}
<p>No content</p>
<br>
{% endif %}
<h2>Please answer the questions below:</h2>
<br>
<body>
<form action="{% url 'testresult' pk=test_id user_id=test_user %}" method="post">
{% csrf_token %}
{{ form }}
    <input type="submit" value="Submit" />
<br>
<a href="{% url 'index' %}">Go Back to Topics</a>
</body>
<br>

</html>
