<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1, body {
    position: relative;
    left:20px;
    background-color: #BBDDFF;
}
</style>
<meta charset="utf-8">
<title>Assessment Score</title>
</head>
{% if score %}
<h1>Assessment Score for {{ test_name }} was {{ score }}% !</h1>
{% else %}
<h1>No Score</h1>
{% endif %}
<body>
<br>
<a href="{% url 'index' %}">Go Back to Topics</a>
</body>
</html>
